.site-header {
  width: 941px;
  height: 100px;
  position: relative;
  background-color: #DDDDDD;
  left: 590px;
}

.site-footer {
  width: 941px;
  height: 100px;
  position: relative;
  background-color: #DDDDDD;
  left: 590px;
  bottom: -15px;
}

.slider-wrapper {
  display: flex;
  padding: 20px 0;
  width: 100%;
  position: relative;
}

.slider-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  width: 1230px;
  margin-right: auto;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
}

.slides-row {
  display: flex;
  transition: transform 0.1s ease;
  margin-bottom: 10px;
  position: relative;
  margin-right: auto;
  height: 200px;
}

.slide {
  position: right;
  flex-shrink: 0;
  margin-right: 10px;
  height: 200px;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.slides-row.top-row {
  max-width: 1230px;
  margin-left: auto;
  justify-content: flex-end;
  left: -120px;
}

.slides-row.bottom-row {
  max-width: 1030px;
  margin-left: auto;
  justify-content: flex-end;
  left: -130px;
}

.slider-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1035px;
  top: 205px;
}
.slider-controls button {
  color: #134880;
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition: border-color 0.1s ease;
  margin: 5px;
}
.slider-controls button:active {
  border-color: #DDDDDD;
}
.slider-controls button .arrow-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-controls button .arrow-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.slider-controls button.next, .slider-controls button.prev {
  border-color: #134880;
  border-width: 2px;
}
.slider-controls button.active-next, .slider-controls button.active-prev {
  border-color: #DDDDDD;
  border-width: 2px;
}
.slider-controls .prev .arrow-container img.normal {
  display: block;
}
.slider-controls .prev .arrow-container img.active {
  display: none;
}
.slider-controls .next .arrow-container img.normal {
  display: block;
}
.slider-controls .next .arrow-container img.active {
  display: none;
}

button.prev.active-prev .arrow-container img.normal {
  display: none;
}

button.prev.active-prev .arrow-container img.active {
  display: block;
}

button.next.active-next .arrow-container img.normal {
  display: none;
}

button.next.active-next .arrow-container img.active {
  display: block;
}

.slide-stones {
  width: 260px;
}

.slide-nature {
  width: 120px;
}

.slide-sunset {
  width: 180px;
}

.slide-beach {
  width: 220px;
}

.slide-surfer {
  width: 260px;
}

.slide-girl {
  width: 120px;
}

.slide-ocean {
  width: 180px;
}

.slide-sea {
  width: 180px;
}

.slide-dolphins {
  width: 242px;
}

.slider-text {
  width: 301px;
  height: 296px;
  position: absolute;
  left: 1100px;
  top: 0;
  padding: 20px;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.slider-text h2 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  width: 300.93px;
  height: 120px;
  color: #134880;
  font-size: 32px;
  margin-bottom: 30px;
  line-height: 37.5px;
}
.slider-text p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #484A4C;
  width: 300.93px;
  height: 156px;
  top: 140px;
}

body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
