$font-family: 'Source Sans 3', sans-serif;
$primary-color: #134880;
$secondary-color: #DDDDDD;
$text-color: #484A4C;

$header-footer-width: 941px;
$header-footer-height: 100px;
$slider-width: 1230px;
$button-size: 60px;
$border-radius: 5px;
